.mission_1 {
  font-family: "Montserrat", sans-serif;
}

.pop_up_quiz_title{
  color: purple;
}

.pop_up_quiz_title h2{
  color: purple;
}

.grid_container {
  display: grid;
  grid-template-columns: 30% auto;
}

.popupquiz_matching_intro {
  text-align: center;
  border-right: 10px solid rgb(203, 3, 243);
  justify-content: left;
  grid-column-start: 1;
  grid-column-end: 2;
  min-height: 80vh;
}

.pop_up_quiz_layout {
  border-radius: 50px;
  padding: 44px 10px;
  text-align: center;
  margin: auto;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 3;
  min-width: 55%;
}

.pop_up_quiz_holder {
  border: 10px solid rgb(203, 3, 243);
  border-radius: 50px;
  padding: 50px 10px;
  text-align: center;
  margin: auto;
  justify-content: center;
  grid-column-start: 3;
  grid-column-end: 4;
  min-width: 55%;
}

.timer {
  padding-bottom: 10px;
}

.question {
  text-align: left;
  padding-left: 50px;
}

.pop-up-radio-container {
  text-align: left;
  padding-left: 50px;
  margin-top: 0px;
}

.pop-up-radio-container label {
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  margin: 0;
  padding: 5px;
  text-align: center;
  transition: 0.2s all ease-in-out;
  margin: 0px 10px;
}

.pop-up-radio-container input[type="radio"] {
  display: none;
}

.pop-up-radio-container input[type="radio"]:hover + label {
  background: rgb(224, 74, 212);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.pop-up-radio-container input[type="radio"]:checked + label {
  background: rgb(224, 74, 212);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.pop_up_submit {
  margin: 0px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 38px;
  line-height: 38px;
  width: 100px;
  border-radius: 19px;
  text-align: center;
  background: #fff;
  border-color: blueviolet;
  border-width: 2px;
  border-radius: 200px;
}

.pop_up_submit:hover {
  background: rgb(216, 119, 255);
}

.button-set {
  justify-content: center;
}
