.app {
  min-height: 100vh;
  background: white;
}

.tweet {
  height: 200px;
  width: 300px;
  background: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  align-items: center;
}

.active {
  opacity: 0;
}

.body {
  background-color: rgba(219, 18, 219, 0);
  margin-left: 80px;
  width: 95%;
  float:right;


  min-height: 100vh;
  align-items: center;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
